<h1>OMG!!</h1>
<h2>It seems that the sandwicher is very angry, and does not want to make your sandwich.</h2>
<%= image_tag "hellspgordonramsay15848.jpeg" %>
<h6>TIP: when creating your sandwich add "sudo" to your message and the sandwicher wont refuse your request.</h6>
<h6>example: sudo go make me sandwich</h6>

<%= link_to "Go back and show him who is boss.", new_sandwich_path, class: "btn btn-primary btn-large" %>