<div class="row">
	<div class="span12">
		<h1>Welcome to SandwichOMG</h1>
		<%= image_tag "Sandwich_de_fajitas_4.jpeg" %>
		<p>Where the making of your dream sandwich can come true</p>
		<%= link_to "Create", new_sandwich_path, class: "btn btn-primary btn-large" %>
	</div>
</div>